<!-- extend base layout -->
{% extends "base.html" %}

{% block main %}
  <div class="page-header">
    <h1>Digital Postcards for Edinburgh Collected</h1>
  </div>
  <p class="lead">
    Share memories from <a href="https://www.edinburghcollected.org">Edinburgh Collected</a>
  </p>
  <p>
    Digital Postcards is an Open Source Javascript Module and Webservice to share content with others in a personal manner.
  </p>
  <p>
    The project is available on github: <a href="https://github.com/clementmouchet/digital-postcards">github
    .com/clementmouchet/digital-postcards</a> under the MIT License (MIT).
  </p>
  <p>
    <a href="https://www.edinburghcollected.org">Edinburgh Collected</a> is a place to share, explore and discuss your memories of Edinburgh.
    <br>
    It is managed and maintained by Edinburgh Libraries, part of the City of Edinburgh Council (CEC).
    <br>
    To find out more about the project please visit: <a href="https://www.edinburghcollected.org/about">https://www.edinburghcollected.org/about</a>
  </p>
{% endblock %}
