<!-- extend base layout -->
{% extends "base.html" %}

{% block main %}
  <div class="page-header">
    <h1>Contact Edinburgh Collected</h1>
  </div>
  <div class="col-md-6">
    <section>
      <p><strong>By email</strong>:</p>

      <p>
        <a href="mailto:informationdigital@edinburgh.gov.uk" title="email address">
          informationdigital@edinburgh.gov.uk
        </a>
      </p>
    </section>

    <section>
      <p><strong>By phone</strong>:</p>

      <p><a href="tel:0131 242 8033">0131 242 8033</a></p>
    </section>

    <section>
      <p><strong>Or write to</strong>:</p>

      <p>
        Information Digital Team<br>
        Central Library<br>
        George IV Bridge<br>
        Edinburgh<br>
        EH1 1EG
      </p>
    </section>
  </div>
{% endblock %}
