<style>

.postcard {
    padding: 10px;
}

.postcard .back {
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  background-color: #ffffff;
  width: 100%;
}

.postcard .back .details {
  margin-bottom: 5px;
}

.text-center {
    text-align: center;
}

.heading {
    font-size: 1.2em;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
</style>

<p class="heading">
    Dear {{ postcard.recipient_name }},
</p>
<p class="heading">
    <a href="mailto:{{ postcard.sender }}">{{ postcard.sender_name }}</a> sent you a Digital Postcard
    (<a href="https://www.edinburghcollected.org">www.edinburghcollected.org</a>)
</p>

<h3><a href="{{ postcard.url }}">Read the full postcard online</a></h3>
<hr>
<div id="mail_popup">
    <div class="postcard">
        <div class="front">
            <img src="{{ postcard.image }}" alt="{{ postcard.title }}" class="img-responsive">
        </div>
        <div class="back">

        </div>
    </div>
</div>

<p class="text-center">
  <img src="https://edinburghdigitalpostcards.org/img/edinburgh-collected-logo.png" alt="Edinburgh Collected"/>
  Share your memories and make history with <a href="https://www.edinburghcollected.org">Edinburgh Collected</a>
</p>
