<!-- extend base layout -->
{% extends "base.html" %}

{% block main %}
    <div class="page-header">
        <h1>Digital Postcards API</h1>
    </div>
    <span>
        <p>
            Digital Postcards is a simple REST API allowing you to store messages basic details of a "digital
            postcard" provided by the project Javascript module.
        </p>
    </span>
    <h2>Public Endpoints</h2>
    <pre><code>@app.route('/api/1/postcard/&lt;<var class="text-primary">int:postcard_id</var>&gt;', methods=['GET'])</code></pre>
    <span>
        <p class="lead">
            This endpoints returns the postcard details for a given postcard ID.
        </p>
        </span>
    <pre><code>@app.route('/api/1/postcard', methods=['POST'])</code></pre>
    <span>
        <p class="lead">
            This endpoint creates a postcard and adds the given postcard details to the database and sends a
            notification to the recipient.
        </p>
    </span>

    <h2>Endpoints requiring Basic Authentication: <small>@auth.login_required</small></h2>
    <pre><code>@app.route('/api/1/postcard/&lt;<var class="text-warning">int:postcard_id</var>&gt;', methods=['PUT'])</code></pre>
    <span>
        <p class="lead">
            This endpoints triggers a job to send the email notification of a given postcard.
        </p>
    </span>
    <pre><code>@app.route('/api/1/postcards', methods=['GET'])</code></pre>
    <span>
        <p class="lead">
            This endpoint returns all postcards in the database.
        </p>
    </span>
    <pre><code>@app.route('/api/1/postcards', methods=['DELETE'])</code></pre>
    <span>
        <p class="lead">
            This endpoint deletes all postcards in the database.
        </p>
    </span>
    <pre><code>@app.route('/api/1/postcard/&lt;<var class="text-danger">int:postcard_id</var>&gt;', methods=['DELETE'])</code></pre>
    <span>
        <p class="lead">
            This endpoint deletes a postcard for a given postcard ID.
        </p>
    </span>


{% endblock %}
